@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #60a5fa, #3b82f6, #2563eb);
  min-height: 100vh;
}

body {
  font-family: 'Comic Neue', cursive;
}